<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/images/style.css" />
		<title>Taller de Integración Grupo 3</title>
	</head>

	<body>
		<div id="container">
	        <div id="header">
	            <h1>Taller de Integración<span class="off">Grupo 3</span></h1>
	        </div>   
	        <div id="menu">
	            <ul>
	                <li class="menuitem"><a href="/home/index">Inicio</a></li>
                    <li class="menuitem"><a href="/home/productos">Productos</a></li>
                    <li class="menuitem"><a href="/home/bodegas">Bodegas</a></li>
	                <li class="menuitem"><a href="/home/listaOrdenesCompra">Ordenes de Compra</a></li>
	                <li class="menuitem"><a href="/home/credenciales">Credenciales</a></li>
                    <li class="menuitem"><a href="/home/documentacion">Documentación</a></li>
	            </ul>
	        </div>
	        <div id="content">
	        	<div id="content_top"></div>
	        		<div id="content_main">
	            		<p>Número de grupo: 3</p>
	            		<p>ID Grupo: 571262b8a980ba030058ab51</p>
	            		<p>ID Cuenta Banco:571262c3a980ba030058ab5d</p>
	        		</div>
	        	<div id="content_bottom"></div>
	      </div>
	   </div>
	</body>
</html>
