<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Grupo 3</title>
<link rel="alternate" type="application/rss+xml" title="frittt.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="/images/css/style.css">
<link rel="stylesheet" href="/images/css/prettify.css">
</head>
<body>
<div class="wrapper">
<nav>
 
    <!--div class="pull-left">
        <h1><a href="javascript:"><img src="img/icon.png" alt="Free Documentation Template Icon" /> <span>DocWeb</span></a></h1>
    </div-->
    
    
    <!--div class="pull-right">
        <a href="http://frittt.com/free-documentation-html-template-docweb" target="_blank" class="btn btn-download"><img src="img/download.png" width="25" alt="Download Free Documentation Template" /> Download Now</a>
    </div-->
    
<ul id="menu">
  <li><a href="/home/index">Inicio</a></li>
  <li><a href="/home/productos">Productos</a></li>
  <li><a href="/home/bodegas">Bodegas</a></li>
  <li><a href="/home/listaOrdenesCompra">Ordenes de Compra</a></li>
  <li><a href="/home/credenciales">Credenciales</a></li>
  <li><a href="/home/documentacion">Documentación</a></li>
</ul>  
</nav>
<header>
  <div class="container">
    <h2 class="lone-header">Credenciales</h2>
  </div>
</header>
<section>
  <div class="container">
    <div class="docs-content" style="">
    <div class="boxed">
      <p>Número de grupo: 3</p>
	            		<p>ID Grupo: 571262b8a980ba030058ab51</p>
	            		<p>ID Cuenta Banco:571262c3a980ba030058ab5d</p>
	            		</div>
    </div>
  </div>
</section>
<!--section class="vibrant centered">
  <div class="">
    <h4> This documentation template is provided by <a href="http://www.frittt.com" target="_blank">Frittt Templates</a>. You can download and use this template for free. If you have used this template, please pay the developer's effort by Tweeting, sharing on Facebook, social mention or with a linkback. Enjoy! :)</h4>
  </div>
</section>
<footer>
  <div class="">
    <p> &copy; Copyright Frittt Templates. All Rights Reserved.</p>
  </div>
</footer-->
</div>

<script src="/assets/jquery.min.js"></script> 
<script type="text/javascript" src="/assets/prettify.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="/assets/layout.js"></script>
</body>
</html>
<style>
    /*div { width: 100%; } */
    .success { background-color: #FFFFFF; }
    .boxed {
        background-color: white; 
        width: 600px;
        border: 1px solid black ;
    }
</style>