<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Grupo 3</title>
<link rel="alternate" type="application/rss+xml" title="frittt.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="/images/css/style.css">
<link rel="stylesheet" href="/images/css/prettify.css">
</head>
<body>
<div class="wrapper">
<nav>
 
    <!--div class="pull-left">
        <h1><a href="javascript:"><img src="img/icon.png" alt="Free Documentation Template Icon" /> <span>DocWeb</span></a></h1>
    </div-->
    
    
    <!--div class="pull-right">
        <a href="http://frittt.com/free-documentation-html-template-docweb" target="_blank" class="btn btn-download"><img src="img/download.png" width="25" alt="Download Free Documentation Template" /> Download Now</a>
    </div-->
    
<ul id="menu">
  <li><a href="/home/index">Inicio</a></li>
  <li><a href="/home/productos">Productos</a></li>
  <li><a href="/home/bodegas">Bodegas</a></li>
  <li><a href="/home/listaOrdenesCompra">Ordenes de Compra</a></li>
  <li><a href="/home/credenciales">Credenciales</a></li>
  <li><a href="/home/documentacion">Documentación</a></li>
</ul>  
</nav>
<header>
  <div class="container">
    <h2 class="lone-header">Documentación</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav">
      <li><strong>Indice</strong></li>
      <li><a href="#descrip" class="cc-active">Descripción de la API</a></li>
      <li><a href="#arqui" class="cc-active">Arquitectura subyacente</a></li>
      <li><a href="#sistymet" class="cc-active">Descripción de Sistemas y Métodos</a></li>
      <li><a href="#flujos" class="cc-active">Flujos</a></li>
      <li><a href="#creadores" class="cc-active">Creadores</a></li>
    </ul>
    <div class="docs-content" style="">

      <h3 id="descrip"> 1. Descripción de la API</h3>
      <p>Esta API cumple la funcion de permitir interactuar entre empresas de producción para la elaboración de productos manufacturados.</p>
                        <p>Su principal objetivo es administrar el proceso de producción desde el momento de recibir una orden de compra, hasta haber entregado el producto, pasando por la producción, manejos de inventario y facturación.</p>
      <h3 id="arqui"> 2. Arquitectura subyacente</h3>
      <p>Este software fue creado basándonos en el modelo vista controlador (MVC) con el objetivo de separar bien las funciones y permitirnos administrar eficientemente los distintos recursos en cada nivel según fuera necesario.</p>
      <p>El framework utilizado fue Ruby on Rails (RoR), el cual permite trabajar eficientemente con este patrón, separando en:</p>
      <p>El Modelo:</p>
      <ul>
        <li>Las tablas de las Bases de Datos</li>
        <li>Las migraciones</li>
        <li>Las observaciones</li>
        <li>Las emigraciones</li>
      </ul>
      <p>La Vista:</p>
      <ul>
        <li>La interfaz presentada al Usuario para interactuar con el controlador</li>
      </ul>
      <p>El Controlador:</p>
      <ul>
        <li>La lógica detrás de la aplicación</li>
        <li>La lógica detrás de las interacciones con Usuarios</li>
      </ul>
      <h3 id="sistymet"> 3. Descripción de Sistemas y Métodos</h3>
      <div class="boxed">
                            <p>&emsp;<span style="text-decoration: underline;">integra3.ing.puc.cl/api/consultar/:id (GET)</span></p>
                            <p>&emsp;Retorna un JSON con el stock del sku</p>
                            <p>&emsp;Parámetros: Ninguno</p>
                            <p>&emsp;Retorna:{"stock": int, "sku": int} </p>
                      </div>
                        <p>&emsp;</p>
                        <div class="boxed">
                            <p>&emsp;<span style="text-decoration: underline;">integra3.ing.puc.cl/api/facturas/recibir/:id (GET)</span></p>
                            <p>&emsp;Retorna un JSON informando si se validó la factura</p>
                            <p>&emsp;Parámetros: Ninguno</p>
                            <p>&emsp;Retorna:{"validado": boolean, "idfactura": string} </p>
                        </div>
                        <p>&emsp;</p>
                        <div class="boxed">
                            <p>&emsp;<span style="text-decoration: underline;">integra3.ing.puc.cl/api/pagos/recibir/:id?idfactura=xxxxx (GET)</span></p>
                            <p>&emsp;Retorna un JSON informando si se validó el pago</p>
                            <p>&emsp;Parámetros: idfactura</p>
                            <p>&emsp;Retorna:{"validado": boolean, "idtrx": string} </p>
                        </div>
                        <p>&emsp;</p>
                        <div class="boxed">
                            <p>&emsp;<span style="text-decoration: underline;">integra3.ing.puc.cl/api/oc/recibir/:id (GET)</span></p>
                            <p>&emsp;Retorna un JSON informando si se aceptó la Orden de Compra</p>
                            <p>&emsp;Parámetros: Ninguno</p>
                            <p>&emsp;Retorna:{"aceptado": boolean, "idoc": string}</p>
                        </div>
                        <p>&emsp;</p>
                        <div class="boxed">
                            <p>&emsp;<span style="text-decoration: underline;">integra3.ing.puc.cl/api/despachos/recibir/:id (GET)</span></p>
                            <p>&emsp;Retorna un JSON informando si se recibió el despacho</p>
                            <p>&emsp;Parámetros: Ninguno</p>
                            <p>&emsp;Retorna:{"aceptado": boolean}</p>
                        </div>
      <h3 id="flujos"> 4. Flujos</h3>
      <p>1. Flujo FTP</p>
      <img src="/images/Flowchart4.png" alt="Mountain View" style="width:350px;height:550px;">
      <p>2. Flujo B2B (Compra)</p>
      <img src="/images/Flowchart2.png" alt="Mountain View" style="width:650px;height:550px;">
      <p>3. Flujo B2B (Venta)</p>
      <img src="/images/Flowchart3.png" alt="Mountain View" style="width:650px;height:550px;">
      <hr>

      <h3 id="creadores"> 5. Creadores</h3>
      <p>Jefe de Grupo: Benjamín Gimenez</p>
      <p>&emsp;</p>
      <p>Información de contacto:</p>
      <p>Benjamín Gimenez (<a href="mailto:bagimene@uc.cl">bagimene@uc.cl</a>)</p>
      <p>Juan Pablo Silva (<a href="mailto:jpsilva6@uc.cl">jpsilva6@uc.cl</a>)</p>
      <p>Cristóbal Richards (<a href="mailto:crichard1@uc.cl">crichard1@uc.cl</a>)</p>
      <p>Víctor Vidaurre (<a href="mailto:vmvidaurre@uc.cl">vmvidaurre@uc.cl</a>)</p>
      <p>&emsp;</p>
      <p>&emsp;</p>
      <p>&emsp;</p>
      <p>&emsp;</p>
      <p>&emsp;</p>
      <p>&emsp;</p>
      <p>&emsp;</p>
      <!--h2> Customizing Opineo</h2>
      <p> Before you make any cusomization or even start using Opineo create a 'div' element
        and assign it some id. Now add references to necessary Javascrip files e.g.</p>
      <ul>
        <li>A reference to latest jQuery library </li>
        <li>A reference to Opineo script file sudo nano opineo.js</li>
      </ul>
      <p> The following customization options are available in Opineo:</p>
      <h3 id="view_type"> View Type</h3>
      <ul>
        <li>Detailed View</li>
      </ul>
     
      <pre class="prettyprint">&lt;script&gt;
        $(document).ready(function (){
        $('#DefaultOptions').opineo('results.php', {curvalue:3,
            view: 'detailed',
            animation_speed: 'super',
            show_total_votes_counter: false,
            show_overall_rating: true});
         })
&lt;/script&gt;</pre>
      <ul>
        <li>Compact View</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#CompactView').opineo('results.php',
            {curvalue:3, view: 'compact',
            animation_speed: 'super'});
    })
&lt;/script&gt;</pre>
      <ul>
        <li>Mini View</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#MiniView').opineo('results.php', {curvalue:0, view: 'mini', callback: myCallback});
    })  
&lt;/script&gt;</pre>
      <h3 id="animation_style"> Animation Style</h3>
      <ul>
        <li>Slow</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', animation_speed:'slow'});
    })  
&lt;/script&gt; </pre>
      <ul>
        <li>Medium</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', animation_speed:'mild'});
    })  
&lt;/script&gt; </pre>
      <ul>
        <li>Fast</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', animation_speed:'fast'});
    })  
 &lt;/script&gt;</pre>
      <ul>
        <li>Super Fast</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', animation_speed:'super'});
    })  
&lt;/script&gt;</pre>
      <ul>
        <li>Ultra Fast</li>
      </ul>
      <pre class="prettyprint"> &lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', animation_speed:'ultra fast'});
    })  
&lt;/script&gt; </pre>
      <h3 id="bars_text"> Bars Text</h3>
      <ul>
        <li>Show</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', votes_label:true});
    })  
&lt;/script&gt;</pre>
      <ul>
        <li>Hide</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', votes_label:false});
    })  
 &lt;/script&gt;</pre>
      <h3 id="vote_counter"> Vote Counter</h3>
      <ul>
        <li>Show</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', show_votes_counter:true});
    })  
&lt;/script&gt; </pre>
      <ul>
        <li>Hide</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', votes_label:false});
    })  
&lt;/script&gt;</pre>
      <h3 id="rating_icons"> Rating Icons</h3>
      <ul>
        <li>Colored</li>
        <li>Grey</li>
      </ul>
      <h3 id="rating_titles"> Rating Titles</h3>
      <ul>
        <li>Text For First Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Hate It'});
    })  
&lt;/script&gt;</pre>
      <ul>
        <li>Text For Second Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_2_text:'Don't Like It'});
    })  
&lt;/script&gt; </pre>
      <ul>
        <li>Text For Third Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Its OK'});
    })  
&lt;/script&gt;</pre>
      <ul>
        <li>Text For Fourth Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Like It'});
    })  
&lt;/script&gt;</pre>
      <ul>
        <li>Text For Fifth Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Love It'});
    })  
&lt;/script&gt;</pre>
      <h3 id="bar_colors"> Bar Colors</h3>
      <ul>
        <li>Colors of Red Bar</li>
        <li>Colors of Yellow Bar</li>
        <li>Colors of Green Bar</li>
      </ul-->
    </div>
  </div>
</section>
<!--section class="vibrant centered">
  <div class="">
    <h4> This documentation template is provided by <a href="http://www.frittt.com" target="_blank">Frittt Templates</a>. You can download and use this template for free. If you have used this template, please pay the developer's effort by Tweeting, sharing on Facebook, social mention or with a linkback. Enjoy! :)</h4>
  </div>
</section>
<footer>
  <div class="">
    <p> &copy; Copyright Frittt Templates. All Rights Reserved.</p>
  </div>
</footer-->
</div>

<script src="/assets/jquery.min.js"></script> 
<script type="text/javascript" src="/assets/prettify.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="/assets/layout.js"></script>
</body>
</html>
<style>
    /*div { width: 100%; } */
    .success { background-color: #FFFFFF; }
    .boxed {
        background-color: white; 
        width: 600px;
        border: 1px solid black ;
    }
</style>