<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>Taller de Integración Grupo 3</title>
	</head>

	<body>
		<div id="container">
	        <div id="header">
	            <h1>Taller de Integración<span class="off">Grupo 3</span></h1>
	        </div>   
	        <div id="menu">
	            <ul>
	                <li class="menuitem"><a href="index.html.erb">Inicio</a></li>
	                <li class="menuitem"><a href="productos.html.erb">Productos</a></li>
	                <li class="menuitem"><a href="bodegas.html.erb">Bodegas</a></li>
	                <li class="menuitem"><a href="documentacion.html.erb">Documentación</a></li>
	            </ul>
	        </div>
	        <div id="content">
	        	<div id="content_top"></div>
	        		<div id="content_main">
	            		<h2>Bienvenidos a la página de nuestro grupo.</h2>
	                	<p>&nbsp;</p>
		                <p>&nbsp;</p>
		                <p> Aquí podran navegar nuestro catálogo y buscar nuestros productos.</p>
		                <p>&nbsp;</p>
		                <p> Recomendamos fuertemente revisar nuestra documentación antes de cualquier actividad, para hacer mas fácil su experiencia.</p>
		                <p>&nbsp;</p>
		                <p>&nbsp;</p>
	        		</div>
	        	<div id="content_bottom"></div>
	      </div>
	   </div>
	</body>
</html>
