<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/images/style.css" />
        <title>Taller de Integración Grupo 3</title>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <h1>Taller de Integración<span class="off">Grupo 3</span></h1>
            </div>   
            <div id="menu">
                <ul>
 	                <li class="menuitem"><a href="/">Inicio</a></li>
                    <li class="menuitem"><a href="/home/productos">Productos</a></li>
                    <li class="menuitem"><a href="/home/bodegas">Bodegas</a></li>
	                <li class="menuitem"><a href="/home/listaOrdenesCompra">Ordenes de Compra</a></li>
	                <li class="menuitem"><a href="/home/credenciales">Credenciales</a></li>
                    <li class="menuitem"><a href="/home/documentacion">Documentación</a></li>
                </ul>
            </div>
        </div>
        <table border="1" id="t01"style="width:95%; position: relative;margin-top: 100px; margin-left: 40px;">
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 55%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <tr>
                <th style="text-align:center"></th>
                <th style="text-align:center">Nombre</th> 
                <th style="text-align:center">Descripción</th>
                <th style="text-align:center">Precio</th> 
                <th style="text-align:center">SKU</th>
            </tr>
            <tr>
                <td style="text-align:center"><img src="/images/FotoTrigo.jpg" alt="Mountain View" style="width:250px;height:250px; position: relative;left:0px; right: 0px;"></td>
                <td style="text-align:center">Trigo</td> 
                <td style="text-align:center">Materia Prima producida por nuestra compañía que permite elaborar productos tales como: Harina.</td>
                <td style="text-align:center">$1949</td>
                <td style="text-align:center">8</td>
            </tr>
            <tr>
                <td style="text-align:center"><img src="/images/FotoLana.jpg" alt="Mountain View" style="width:250px;height:250px; position: relative;left:0px; right: 0px;"></td>
                <td style="text-align:center">Lana</td> 
                <td style="text-align:center">Materia Prima producida por nuestra compañía que permite elaborar productos tales como: Tela de Lana.</td>
                <td style="text-align:center">$1016</td>
                <td style="text-align:center">31</td>
            </tr>
            <tr>
                <td style="text-align:center"><img src="/images/FotoCebada.jpg" alt="Mountain View" style="width:250px;height:250px; position: relative;left:0px; right: 0px;"></td>
                <td style="text-align:center">Cebada</td> 
                <td style="text-align:center">Materia Prima producida por nuestra compañía que permite elaborar productos tales como: Cerveza.</td>
                <td style="text-align:center">$1376</td>
                <td style="text-align:center">14</td>
            </tr>
            <tr>
                <td style="text-align:center"><img src="/images/FotoGalleta.jpg" alt="Mountain View" style="width:250px;height:250px; position: relative;left:0px; right: 0px;"></td>
                <td style="text-align:center">Galletas Integrales</td> 
                <td style="text-align:center">Producto Procesado producido por nuestra compañía.</td>
                <td style="text-align:center">$992</td>
                <td style="text-align:center">55</td>
            </tr>
            <tr>
                <td style="text-align:center"><img src="/images/FotoLeche.jpg" alt="Mountain View" style="width:250px;height:250px; position: relative;left:0px; right: 0px;"></td>
                <td style="text-align:center">Leche Descremada</td> 
                <td style="text-align:center">Producto Procesado producido por nuestra compañía que permite elaborar productos tales como: Yogur y Crema.</td>
                <td style="text-align:center">$2382</td>
                <td style="text-align:center">49</td>
            </tr>
            <tr>
                <td style="text-align:center"><img src="/images/FotoCrema.jpeg" alt="Mountain View" style="width:250px;height:250px; position: relative;left:0px; right: 0px;"></td>
                <td style="text-align:center">Crema</td> 
                <td style="text-align:center">Producto Procesado producido por nuestra compañía que permite elaborar productos tales como: Yogur y Mantequilla.</td>
                <td style="text-align:center">$926</td>
                <td style="text-align:center">6</td>
            </tr>
        </table>
    </body>
</html>

<style>
    table#t01 {
        width: 100%; 
        background-color: #FFFFFF ;
        border: 1px solid black;
        padding: 
    }
</style>